<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
<Appenders>
<RollingFile name="jsonAppenderAllAsync" fileName="${sys:LogFilePath}/cricketSocial/cs_reports.log" filePattern="${sys:LogFilePath}/cricketSocial/cs_reports-%d{MM-dd-yyyy}.log" append="true">
             <PatternLayout>
           <Pattern>{"traceId":"%X{REQ_ID}","timestamp":"%d{dd-MMM-yyy HH:mm:ss:SSS}","message":%m,"priority":"%p","class":"%c|%M|%L"}%n</Pattern>
           </PatternLayout>
			<TimeBasedTriggeringPolicy/>
        </RollingFile>

</Appenders>

 <!-- <Async name="jsonAppenderAll">
        <AppenderRef ref="jsonAppenderAllAsync" />
        </Async> -->
        
        <Loggers>
        
        <Logger name="JsonLogging" level="ALL">
            <AppenderRef ref="jsonAppenderAllAsync" level="ALL" />
            
        </Logger> 
        
        
        </Loggers>
</Configuration>