/* website */
.centerbtns .dBtn {
    background: #1f3d57;
}
nav.navbar-inverse {
    background-color: #1f3d57;
}
.form-group table.dispute-mgmt tr td a,.form-group table.dispute-mgmt tr td,.form-group table.dispute-mgmt tr td span {
	font-size: 14px;	
}


/* responsive css */
@media only screen and (min-width: 300px) and (max-width: 500px) {
.feedcube .cube-holder {
	width: 32% !important;
}
.form-group table {
	width: 100%;
}
.form-group table tr td,.form-group table tr th {
	font-size: 4px;
	min-width: 0 !important;
	width: 0;
	padding: 0;
}
.form-group table tr th.botmhed p {
	width: auto !important;
}
.form-group table tr th.botmhed button {
	float: right;
}
.form-group table tr td a i,.form-group table tr td i {
	font-size: 5px;
	display: table-cell;
}
.form-group table tr td img {
	width: 10px !important;
	margin-right: 1px !important;
}
.form-group table tr td b {
	font-size: 5px;
}
.no-padding-res {
	padding: 0 !important;
}
.padding-left-res {
	padding-left: 10px !important;
}
.padding-right-res {
	padding-right: 10px !important;
}
.padding-res {
	padding-left: 10px !important;
	padding-right: 10px !important;
}
input.cboxBtnLeft + label {
	padding: 0 10px !important;
}
ul.noOfTour li {
	width: 100% !important;
}
.friendRequestsPop:after {
	right: 73px !important;
}
.autoSearchBlcok.friendRequestsPop ul li {
	width: 100%;
}
.friendRequestsPop.notiPopup:after {
	right: 45px !important;
}
.leag-Acc .nav-tabs>li,.mybuddyBlock .nav-tabs>li {
	width: 100% !important;
}
.nav-tabs>li>a {
	border-radius: 0;
	margin-bottom: 2px;
}
.leag-Acc .N-btn,.leag-Acc .Leag-Img,.leag-Acc .stared,.leag-Acc .col-md-11 {
	width: 100% !important;
}
.leag-Acc .tab-pane {
	padding: 0 !important;
} 
.leag-Acc .tab-content.tab-content-details {
	float: none !important;
	padding: 0 !important;
	display: block;
}
.tab-content.tab-content-details div {
	padding: 0 !important;
	width: 100%;
}
.threebtn p {
	width: 27% !important;
} 
.N-btn p {
    background: #fff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto !important;
    margin-top: 8px !important;
}
.rosterDetail .media-body .btn {
	width: 100% !important;
}
.player-entry {
	width: 54% !important;
}
.statusUpdateBox .buluback .drop {
	float: none !important;
    margin-right: 0 !important;
    padding: 0;
}
.clockpicker {
    width: 100% !important;
}
ul.logMenus li:last-child {
	 padding-top: auto !important; 
     margin-left: auto !important;
}
.Affi_tbox .affTbox {
	width: auto !important;
}
.tab-pane .whiteBox {
	display: block;
}
.matchBlock .ScoreBtns {
	float: right;
}
.matchBlock h2 .lastUpdate {
	float: none !important;
	display: block;
}
.laeguesBlock.buddysBlock {
	background: #ebebeb;
}
.laeguesBlock.buddysBlock .media a {
	display: table-cell;
	vertical-align: middle;
	
}
.statusUpdateBox p {
	width: 100% !important;
}
.cube-holder .cube {
	width: 100% !important;
	margin: 0 !important;
}
.leag-Acc {
	padding: 0 !important;
}
.userName {
	margin-top: -53px !important;
}
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
.tc, .tc a {
	color: #111;
	position: unset;
}
.popupDiv .box {
	width: 93% !important;
}
.userName {
	width: 100%;
}
.owner {
	font-size: 11px;
	float: none !important;
}
.abil,.adjHei {
	width: 100% !important;
}
.adjHei {
	clear: both;
}
.abil .width1 {
	width: 100% !important;
}
.PG-Visi {
	clear: both;
}
ul.nav li.myBoard {
	position: unset;
}
ul.nav li.myBoard ul.dropdown-menu {
	width: 90%;
}
ul.nav li.myBoard ul.dropdown-menu li a {
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.selectdiv {
	z-index: 99 !important;
}
body.cs-dboard .cs-view-list {
	width: 100% !important;
}
.txt-flow {
	width: 64% !important;
	margin-right: 10px !important;
} 
ul.leftMenu li {
    background: #fff none repeat scroll 0 0;
    padding: 10px 6px !important;
    width: 70% !important;
    margin: 0 auto !important;
    margin-bottom: 1px !important;
    float: none !important;
    height: 40px;
}
.sidebar-container {
	margin: 10px !important;
}
.feedBlock .media {
	position: relative;
}
.feedBlock.whiteBox .media-left {
	display: block !important;
}
.feedBlock .headRight {
	position: absolute;
    right: 0;
    top: 0;	
}
.fb_iframe_widget iframe {
	width: 100% !important;
} 
.fb_iframe_widget_fluid {
	display: none !important;
}
.loginMiddleBlock .loginRight {
	width: 90%;
	float: none !important;
	margin: 0 auto;
	clear: both;
}
.loginMiddleBlock h1 {
	font-size: 20px;
}
.loginMiddleBlock h2 {
 	font-size: 14px;
}
.loginMiddleBlock .loginRight .nav>li>a {
    padding: 6px 16px;
    margin-right: 5px;
    font-size: 13px;
}
.loginMiddleBlock {
	margin-top: 15px;
}
.loginMiddleBlock {
	margin-bottom: 20px;
}
.pluginSkinLight table.uiGrid._51mz {
	width: 100% !important;
}
.navbar-inverse .navbar-toggle {
    border-color: #00a5e7;
    background-color: #00a5e7;
    position: fixed;
    right: 3px;
    top: 7px;
    z-index: 9999;  
}
.cs-list-team a:last-child {
	width: 75px !important;
	text-align: right;
}

.whiteBox .selectdiv {
	height: 35px !important;
}

}
@media only screen and (min-width: 300px) and (max-width: 330px) {
.navbar-header .topSearch {
    width: 100% !important;
    margin: 7px;
}
.navbar-header .topSearch input {
    width: 85% !important;
}
}
@media only screen and (min-width: 300px) and (max-width: 380px) {

ul.leftMenu {
	position: relative;
	z-index: 1;
}

.profileLogo.pLUpdated ul.leftMenu {
	width: 76%;
}	
ul.leftMenu li {
	padding: 12px !important;
	height: auto !important;
}
.leftMenu2 {
	width: 85% !important;
	margin: 0 auto;
}
.leftMenu2 ul li a {
	padding: 12px;
}
.leftMenu2 ul li {
	margin-bottom: 0px !important;
}
ul.logMenus {
	left: 0 !important;
}
ul.logMenus li {
	padding: 2px 0;
}
ul.dropdown-menu.logMenus li a:hover {
	color: #0e2b3e !important;	
}
.noLeftPad {
    padding-left: 10px !important;
}

}

@media only screen and (min-width: 300px) and (max-width: 768px) {
.pull-right.rightnone {
	float: none !important;
}
.MyScor-table {
	border-bottom: none;
}
#umpireTableId {
	padding: 0;
}
.whiteBox {
	width: 100% !important;
}
.pLUpdatedImg input {
	display: inline;
}
.selectdiv div {
    line-height: 2 !important;
    padding: 0 !important;
    height: 23px !important;
    margin: 0 !important;
}

.friendRequestsPop.autoSearchBlcok {
	top: 47px !important;
	margin-left: 0 !important;
}
.createschedulError {
	margin-left: 0;
}
.radioBox label span {
	float: left;
	margin: 0 5px 0 0 !important;
}

.middleContBlock .pageRightBlock {
    position: fixed !important;
    z-index: 9999 !important;
    padding-top: 130px !important;
    height: 100% !important;
    top: 0px !important;
    background: rgba(0,0,0,0.7);
    width: 100%;
    left: 0;
    overflow: auto;
}
.collapse.mainMenu.navbar-collapse {
	position: relative;
    width: 100%;
}
.mainMenu .more {
	color: #fff;
    cursor: pointer;
    font-size: 40px;
    line-height: 9px;
    right: 35px;
    z-index: 9999999;
    top: 0px;
    position: absolute;
    margin-top: 0;
    padding: 0;
}
.mainMenu ul.topNav {
	margin: 2px 30px 2px -20px !important;
	position: relative;
}
.loginMiddleBlock .loginLeft {
	display: none;
}
.whiteBox.rosterDetail .media-body {
    display: block;
    overflow: visible;
    width: auto;
}
.whiteBox.rosterDetail .media-body .media-heading {
	text-align: center;
}
.whiteBox.rosterDetail .media .media-left {
	display: block;
}
.whiteBox.rosterDetail .media .media-left {
	text-align: center;
}
.whiteBox.rosterDetail .media-body .btn {
	display: block;
	clear: both;
}
.membersBlock .membs {
	float: left;
	width: 50%;
}
.postBlock textarea {
	width: 80% !important;
}
#upload_link {
    float: none;
}
.whiteBox .h1Sbox {
    display: block;
    float: none;
    width: auto;
    margin-top: 10px;
}
.whiteBox .h1Sbox .selectdiv {
	width: 100% !important;
}
.Affiliated {
    padding: 2px 0 10px;
    text-align: center;
    width: 100%;
}
.Affiliated a {
	padding: 10px;
	margin-bottom: 10px;
}
.Affiliated a span.badge {
    background-color: #00a5e7;
	padding: 10px;
}
.rosterDetail .media-body .btn {
    margin: 5px;
    padding: 10px 0;
    width: auto;
}
.whiteBox.pull-right.visibilityContainer {
	float: right !important;
}
.postBlock .blueBtn {
	float: right !important;
}
.rosName {
	width: 100% !important;
}
.sidebar-container.widget-MAU {
	margin: 10px;
}
.autoComplete.umpireautocomplete ul {
	position: fixed !important;
	width: 85% !important;
    bottom: 64px !important;
    top: auto !important;
}
.autoComplete ul {
	width: 90% !important;
	top: 76px;
}
#memberMainDIV button {
    background-color: #00a5e7;
    border-color: #00a5e7;
    color: #fff;
    width: auto !important;
}
#memberMainDIV {
	text-align: left;
}
.profileForm div {
    margin: 10px 0;
}
/* 
.pageRightBlock {
	right: 0 !important;
	width: 100% !important;
	margin-right: 0 !important;
	background: rgba(0,0,0,0.5) !important;
    height: 380px;
    overflow: auto !important;
    margin-bottom: 10px;
} */
.sideMenu ul#mainMenu.leftMenu li {
	padding: 10px;
	margin: 0;
	height: auto !important;
}	
.box-inner {
	width: 100% !important;
}	
.postShare {
	height: auto !important;
}
.own {
    margin: 10px 0 !important;
}	
.sideMenu ul#mainMenu.leftMenu li {
	margin-bottom: 1px;
}
.navbar-fixed-bottom, .navbar-fixed-top {
	position: unset !important;
}
.navbar-inverse .navbar-toggle {
    border-color: #00a5e7;
    background-color: #00a5e7;
    position: fixed;
    right: 3px;
    top: 7px;
    z-index: 9999;  
}
.middleContentBlock {
	margin-top: 0 !important;
}
.navbar {
	margin-bottom: 0 !important;
}
.fomlabel {
    margin-bottom: 10px !important;
    width: 62% !important;
}
.fomtexbox {
    width: 100% !important;
}
.navbar-header.pull-left {
	float: none !important;
	width: 100% !important;
}
.navbar-brand > img {
	margin: 0 auto;
}
.navbar-brand.LogoSmall {
	width: auto;
	margin-bottom: 10px;
	display: inline-block;
}
.autoSearchBlcok {
    margin-left: 10px;
    margin-top: 82px;
    width: 60%;
}
ul.topNav li i {
    font-size: 13px !important;
}
.topSearch {
    width: 100% !important;
}
.topSearch input {
    width: 88% !important;
}
li.myBoard ul.logMenus {
	left: 0 !important;
	right: 0;
} 
ul.logMenus {
	left: auto !important;
	right: 0;
} 
ul.leftMenu {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    margin-left: 0 !important;
    overflow: auto;
    position: fixed;
    top: 0;
    padding-top: 66px !important;
    width: 100% !important;
    z-index: 999;
}
ul.leftMenu .leftMenu2 li {
	height: 35px;
	width: 100% !important;
    padding: 6px !important;
}
ul.leftMenu .leftMenu2 ul {
	margin: 0 !important;
}
ul.leftMenu .leftMenu2 {
	width: 100%;
}
.pLUpdatedImg {
	font-size: 12px;
	font-weight: 600;
    width: 100% !important;	
    margin-bottom: 0 !important;
}
.pLUpdatedImg img {
    margin: 0 auto 10px !important;	
    width: 13% !important;
    height: 35px !important;	
}
.pLUpdatedImg i {
	font-size: 15px !important;
	margin-left: -5px !important;
}
.profileLogo {
    width: 100% !important;	
}
.Drobox .tBox {
	width: 100% !important;	
}
.Drobox label {
    float: none !important;	
    width: 83% !important;	
    display: block !important;
 
}
.tBox .dateandtime-holder {
    margin: 7px 0 0;
    width: 100% !important;
}
.Drobox .selectdiv,.Drobox div,.Drobox .form-control {
	width: 100% !important;
}
.Drobox .selectdiv:hover, .Drobox .selectdiv:focus {
    width: 100% !important;
}
.AddBtn {
    margin-left: 0px !important;
    margin-top: 0px !important;
}

}
@media only screen and (min-width: 300px) and (max-width: 1000px) {

.Drobox {
	margin: 0;  
    width: 99% !important;	
}
.dateandtime-holder input[type="text"] {
	width: 38%;
}
a:hover {
	text-decoration: none !important;
}

.whiteBox h2 {
	padding-left: 0px !important;
}
.progress {
	width: 100%;
}
.star.height {
    color: #00a5e7;
}
.star.height b {
    color: #1f3d57;
}
.N-btn h1 {
	border-bottom: none !important;
}
.leag-Acc {
    background: #e6e9ee !important;
}
.leag-Acc div {
	display: inline-block;
	float: left;
	padding: 7px;
}
.topUmpPage .Leag-Img img {
	margin-top: 0 !important;
}

.progress-bar {
    background-color: #00a5e7 !important;
}
.pLUpdatedImg a {
	color: #1f3d57;
	font-weight: 600;
	margin-left: 12px;
}

	.whiteBox span.text-danger {
	color: #1f3d57 !important;
}
.dBtn {
	background: #1F3D57 !important;
} 
.Cantourname .btn.pull-right {
	float: right !important;	
}
.Cantourname {
    background: #00a5e7 !important;
    border: 1px solid #00a5e7 !important;
}
.Cantourname p {
	color: #fff !important;
}
.Cantourname button {
	background-color: #1f3d57;
    border-color: #1f3d57;
}
.middleContBlock .whiteBox h1 {
    border-bottom: 1px solid #1f3d57;
    color: #1f3d57;
}
.Drobox label,label {
   color: #1f3d57;
   font-weight: 600;	
   margin: 5px !important;
}
.leftMenu2 ul li.head {
    background: #00a5e7 none repeat scroll 0 0 !important;
    border-color: #00a5e7 !important;
}
.leftMenu2 ul li.head a {
	color: #fff !important;
}
.leftMenu2 ul {
	margin-left: 15px;
}

.leftMenu2 ul {
	margin: 30px !important;
}
ul.leftMenu li a {

}
.leftMenu2 {
	width: 100% !important;
}

.middleContBlock .whiteBox {
    margin: 4px 0 0 0 !important;
    width: 100% !important;
}
.topSearch {
    display: block !important;
}
.pLUpdatedImg {
	display: inline-block !important;	
}
.middleContBlock .noLeftPad {
    padding-left: 10px !important;
}
.navbar-header {
	position: relative;
}
.autoSearchBlcok {
    top: 87px;
    margin-left: 10px !important;
    margin-top: 5px !important;
    width: 95% !important;
    z-index: 9;
}
.topNav li.mobSearchIcon {
	display: none !important;
}
#pac-input,#map_canvas {
    width: 100%  !important;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #0e2b3e !important;
}

/*common color css */

.datepicker table > thead > tr:nth-child(odd) > th,.form-group table th {
	background-color: #00a5e7;
}
.datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active.active:hover {
	background-color: #224e6b !important;
}

}
@media only screen and (min-width: 501px) and (max-width: 690px) {
ul.leftMenu {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    height: 80%;
    left: 0;
    margin-left: 0 !important;
    overflow: auto;
    position: fixed;
    top: 101px;
    width: 100% !important;
    z-index: 9;
}
}
@media only screen and (min-width: 691px) and (max-width: 1000px) {
ul.leftMenu {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    height: 80%;
    left: 0;
    margin-left: 0 !important;
    overflow: auto;
    position: fixed;
    top: -43px;
    width: 100% !important;
    z-index: 9;
}
.leag-Acc .N-btn {
	width: 20% !important;
}
.leag-Acc .Leag-Img {
	width: 50% !important;
}
.leag-Acc .stared {
	width: 30% !important;
}
}
